---
import FormattedDate from '../../components/FormattedDate.astro';
import ColyseusCloudSection from '../../components/ColyseusCloudSection.astro';
import TitleSection from '../../components/TitleSection.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import PostItem from '../../components/PostItem.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<MainLayout>
  <TitleSection>
    Blog
    <!-- <p class="font-sans text-lg font-normal text-gray-500 mt-2">xxx</p> -->
  </TitleSection>

    <section class="container mx-auto px-6 pb-32">
      <ul class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center">
        {posts.map((post, i) => (
          <PostItem
            href={`/blog/${post.slug}/`}
            class={"animate-delay-" + i}
            {...post.data} />
        ))}
      </ul>
    </section>

  <ColyseusCloudSection bgGray={true} />
</MainLayout>
