---
import HeaderLink from './HeaderLink.astro';

interface Props {
  isExpanded?: boolean;
  isBlue?: boolean;
}

const {
  isExpanded = true,
  isBlue = false,
} = Astro.props;
---
<header class={`
    fixed w-full transition-all z-50 text-gray-200 flex center-items
    ${(!isExpanded)
      ? " h-48 bg-black/0 data-[expanded=yes]:bg-black data-[expanded=yes]:h-20 data-[expanded=yes]:shadow"
      : " bg-black h-20 shadow"}`}
  data-expanded="no"
>
  <nav class="container mx-auto flex items-center">
    <HeaderLink href="/" class="pr-10"><img class="logo" width="200" src="/images/logos/logo-light.png" alt="Colyseus"></HeaderLink>

    <ul class="flex grow space-x-4 items-center">
      <li class="group relative px-2 cursor-default">
        <span class="relative font-semibold py-6">
          Products
          <span class="absolute transition-all scale-x-0 group-hover:scale-x-100 group-hover:animate-scale-x-100 inset-x-0 bottom-0 h-0.5 bg-white"></span>
        </span>

        <svg class="inline-block" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>

        <div class="hidden z-30 group-hover:block animate-from-top-fade absolute -left-24 top-8 pt-6">
          <ul class="shadow bg-black space-x-8 p-6 rounded-lg flex">
            <li class="w-80">

              <div class="flex space-x-4">
                <svg class="h-10 mt-1" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2412.65 1617.19"> <defs> <style> .cc1 { /* fill: #fff; */ fill: #007bfc; } </style> </defs> <g> <path class="cc1" d="m1915.36,385.08C1827.83,154.77,1607.34,0,1354.77,0c-156.52,0-304.53,61.78-414.55,166.78l82.52,245.37c67.02-118.54,194.72-193.85,332.03-193.85,177.7,0,330.51,120.5,371.33,292.96l19.21,80.55,82.73,3.28c205.42,8.08,366.31,175.51,366.31,381.15s-171.15,381.59-381.59,381.59h-471.74l73.57,218.3h398.18c330.72,0,599.89-268.94,599.89-599.89,0-296.67-212.84-542.69-497.29-591.16Zm-992.75,54.22l37.95,145.85c-424.87-55.42-575.65,134.42-614.83,209.98-53.3-25.98-97.4-54.97-133.82-84.61,31.34-68.02,183.03-316.49,710.7-271.22ZM23.46,479.51C289.6,134.03,817.4,195.21,817.4,195.21l64.65,159.03c-503.37-48.49-705.57,171.56-764.7,278.88-58.81-65.75-84.35-125.83-93.89-153.62Zm1264.98,1114.98C41.56,1719.17,0,1289.69,0,1289.69v-664c96.93,144.03,324.37,345.89,838.16,345.89,72.75,0,151.5-4.21,236.19-13.05l214.09,635.96Z"></path> </g> </svg>
                <div>
                  <h3 class="text-lg">Colyseus Cloud</h3>
                  <span class="text-slate-400 text-nowrap">Managed Cloud Hosting Service</span>

                  <a href="/cloud-managed-hosting" class="mt-2 block group/link text-blue-500 font-bold">
                    Learn more
                    <svg class="inline-block transition-transform ease-out relative group-hover/link:translate-x-1" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg>
                  </a>

                </div>
              </div>

              <div class="border-t border-solid border-gray-800 pt-4 mt-4">
                <a href="/pricing" class="text-sm text-white font-medium transition-opacity hover:opacity-80">Pricing</a>
                ·
                <a target={"_blank"} href="https://docs.colyseus.io/cloud/" class="text-sm text-white font-medium transition-opacity hover:opacity-80">Documentation</a>
              </div>
            </li>

            <li class="border-l border-solid border-gray-800">&nbsp;</li>
            <li class="w-96">

              <div class="flex space-x-4">
                <svg class="h-10 mt-1" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 134"> <defs> <linearGradient id="cfg1" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(119.53,94.81,-119.798,151.033,13.09,4.21)"> <stop offset="0" stop-color="#a32fe0"/> <stop offset="1" stop-color="#5945e3"/> </linearGradient> <linearGradient id="cfg2" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(119.53,94.8,-124.011,156.362,16.8,-0.46)"> <stop offset="0" stop-color="#a32fe0"/> <stop offset="1" stop-color="#5945e3"/> </linearGradient> <linearGradient id="cfg3" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(119.53,94.8,-57.693,72.743,-14.54,39.05)"> <stop offset="0" stop-color="#a32fe0"/> <stop offset="1" stop-color="#5945e3"/> </linearGradient> </defs> <style> .cf1 { fill: url(#cfg1) } .cf2 { fill: url(#cfg2) } .cf3 { fill: url(#cfg3) } </style> <g id="Layer_1-2"> <g id="Layer"> <path id="Layer" class="cf1" d="m19.8 48.5c3.4 2.8 7.5 5.5 12.5 7.9 3.7-7 17.7-24.8 57.4-19.6l-3.5-13.6c-49.3-4.2-63.5 19-66.4 25.3z"/> <path id="Layer" class="cf2" d="m11 41.3c5.5-10 24.4-30.6 71.4-26.1l-6-14.8c0 0-49.3-5.7-74.2 26.6 0.9 2.6 3.3 8.2 8.8 14.3z"/> <path id="Layer" class="cf3" d="m100.4 71.7q-11.9 1.2-22.1 1.2c-48 0-69.2-18.8-78.3-32.3v62c0 0.1 3.9 40.2 120.4 28.5 0 0-20-59.4-20-59.4z"/> </g> </g> </svg>
                <div>
                  <h3 class="text-lg">Colyseus Framework</h3>
                  <span class="text-slate-400">Open-source Multiplayer Framework</span>

                  <a href="/framework" class="mt-2 block group/link text-purple-500 font-bold">
                    Learn more
                    <svg class="inline-block transition-transform ease-out relative group-hover/link:translate-x-1" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg>
                  </a>

                </div>
              </div>

              <div class="border-t border-solid border-gray-800 pt-4 mt-4">
                <a target={"_blank"} href="https://docs.colyseus.io" class="text-sm text-white font-medium transition-opacity hover:opacity-80">Documentation</a>
                ·
                <a target={"_blank"} href="https://github.com/colyseus/colyseus" class="text-sm text-white font-medium transition-opacity hover:opacity-80">Source-code</a>
              </div>
            </li>
          </ul>

        </div>
      </li>

      <li class="group relative px-2">
        <span class="relative font-semibold cursor-default py-6">
          Learn
          <span class="absolute transition-all scale-x-0 group-hover:scale-x-100 group-hover:animate-scale-x-100 inset-x-0 bottom-0 h-0.5 bg-white"></span>
        </span>
         <svg class="inline-block" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>

        <div class="hidden z-30 group-hover:block animate-from-top-fade absolute -left-24 top-8 pt-6">
          <ul class="shadow bg-black flex space-x-8 p-6 rounded-lg">
            <li class="w-38">
              <ul>
                <li><a href="/learn">Learn</a></li>
                <li><a href="/learn#tutorials">Tutorials</a></li>
                <li><a href="/learn#examples">Examples</a></li>
                <li><a href="/learn#videos">Videos</a></li>
              </ul>
            </li>

            <li class="border-l border-solid border-gray-800">&nbsp;</li>
            <li class="w-38">
              <ul>
                <li><a href="/community" class="text-sm text-white font-medium transition-opacity hover:opacity-80">Community</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </li>

      <li class="font-semibold pr-4">
        <HeaderLink href="/pricing" class="relative group py-6">
          Pricing
          <span class="absolute transition-all scale-x-0 group-hover:scale-x-100 group-hover:animate-scale-x-100 inset-x-0 bottom-0 h-0.5 bg-white"></span>
        </HeaderLink>
      </li>

      <li class="font-semibold">
        <HeaderLink href="https://docs.colyseus.io/" class="relative group py-6">
          Documentation
          <span class="absolute transition-all scale-x-0 group-hover:scale-x-100 group-hover:animate-scale-x-100 inset-x-0 bottom-0 h-0.5 bg-white"></span>
        </HeaderLink>
      </li>

      <li class="grow text-right font-semibold">
        <a
          href="https://cloud.colyseus.io/"
          class=`p-3 mr-5 rounded border-solid border-white text-white transition-all
            ${(isBlue)
              ? "bg-blue-600 hover:bg-blue-700 active:bg-blue-800"
              : "bg-purple-600 hover:bg-purple-700 active:bg-purple-800"}`>
          Access Colyseus Cloud
        </a>

        <a class="py-6" href="https://github.com/colyseus">
          <span class="pr-2">GitHub</span>
          <svg class="inline-block relative -top-0.5" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 496 512" height="1.1em" width="1.1em" xmlns="http://www.w3.org/2000/svg"><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg>
        </a>
      </li>

    </ul>
  </nav>
</header>


{(isExpanded)
  ? <div class="block pb-20"></div>
  : <script>
      const header = document.querySelector('header');
      const onScroll = () => {
        if (window.scrollY > 200) {
          // @ts-ignore
          header.dataset.expanded = 'yes';
        } else {
          // @ts-ignore
          header.dataset.expanded = 'no';
        }
      }
      window.addEventListener('scroll', onScroll);
      onScroll();
    </script> }
