<section class="bg-gray-100 text-slate-900 text-center border-b border-solid border-gray-300">
  <div class="container container mx-auto relative py-14">
    <h2 class="text-xl font-medium text-gray-500 uppercase tracking-widest">Sponsors</h2>
    <img class="mx-auto" src="https://colyseus.io/sponsorkit/sponsors.part1.svg" alt="Colyseus Sponsors" />
    <img class="mx-auto" src="https://colyseus.io/sponsorkit/sponsors.part2.svg" alt="Colyseus Sponsors" />
  </div>
</section>
