<section class="text-gray-700">
  <div class="container mx-auto text-center flex items-center justify-center lg:flex-row relative py-10">
    <h1 class="text-4xl mb-2 font-medium py-8 relative">
      <slot />
      <span class="absolute transition-all animate-scale-x-100 inset-x-0 bottom-5 h-1 bg-black"></span>
    </h1>
  </div>
</section>
