.bg-gradient-black {
  background: rgba(0,0,0, 0.7);
  background: radial-gradient(circle, rgba(0,0,0,0.7) 0%, rgba(0,0,0,1) 100%);
}
/* .bg-gradient-purple-vertical {
  background: #a855f7;
  background: linear-gradient(180deg, #e9d5ff 0%, #6b21a8 50%, #3b0764 100%);
} */
.gradient-text {
  background: -webkit-linear-gradient(90deg, #faf5ff, #a855f7 60%);
  /* background: -webkit-linear-gradient(90deg, #bfdbfe, #60a5fa 70%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-black {
  background: -webkit-linear-gradient(90deg, #fff, #c3c3c3 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer a:hover { text-decoration: underline; }

#hero {
  position: relative;
  overflow: hidden;
}
#hero::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -2;
}
#hero::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/header-new.jpg');
  background-position: right;
  background-size: cover;
  z-index: -1;
  animation: fade-in-and-translate-x 4s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

h1, h2 { /*, h3, h4 */
  font-family: 'Cinzel', serif;
}

.bg-gradient-purple { background: linear-gradient(315deg, rgba(80,70,230,1) 0%, rgba(160,44,228,1) 100%); }

/* Showcase grid */
.showcase-items > a { background-size: cover; background-position: center center; }
.showcase-items > a:hover { background-size: cover; background-position: center center; }

/* .showcase-items > a > span { background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%); } */
.showcase-expand-list { background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); }

.animate-scale-x-100 { animation: scale-x-from-o-to-100 0.3s cubic-bezier(0.33, 1, 0.68, 1) forwards; }
.animate-from-bottom-fade { animation: from-bottom 0.3s both ease-out, fade-in 0.3s both ease-out; }
.animate-from-top-fade { animation: from-top 0.1s both ease-out, fade-in 0.1s both ease-out; }
.animate-from-right-fade { animation: from-right 0.1s both ease-out, fade-in 0.1s both ease-out; }

.animate-delay-0 { animation-delay: 0s; }
.animate-delay-1 { animation-delay: 0.1s; }
.animate-delay-2 { animation-delay: 0.2s; }
.animate-delay-3 { animation-delay: 0.3s; }
.animate-delay-4 { animation-delay: 0.4s; }
.animate-delay-5 { animation-delay: 0.5s; }
.animate-delay-6 { animation-delay: 0.6s; }
.animate-delay-7 { animation-delay: 0.7s; }
.animate-delay-8 { animation-delay: 0.8s; }
.animate-delay-9 { animation-delay: 0.9s; }
.animate-delay-10 { animation-delay: 1s; }
.animate-delay-11 { animation-delay: 1.1s; }
.animate-delay-12 { animation-delay: 1.2s; }
.animate-delay-13 { animation-delay: 1.3s; }
.animate-delay-14 { animation-delay: 1.4s; }
.animate-delay-15 { animation-delay: 1.5s; }

.animate-delay-005 { animation-delay: 0.05s; }
.animate-delay-010 { animation-delay: 0.1s; }
.animate-delay-015 { animation-delay: 0.15s; }
.animate-delay-020 { animation-delay: 0.2s; }
.animate-delay-025 { animation-delay: 0.25s; }
.animate-delay-030 { animation-delay: 0.3s; }
.animate-delay-035 { animation-delay: 0.35s; }
.animate-delay-040 { animation-delay: 0.4s; }
.animate-delay-045 { animation-delay: 0.45s; }
.animate-delay-050 { animation-delay: 0.5s; }
.animate-delay-055 { animation-delay: 0.55s; }

/* Blog posts */
article { @apply mb-12; }
article * { @apply leading-loose; }
article h1 { @apply font-semibold text-4xl mb-4; }
article h2 { @apply font-semibold text-3xl mt-8 mb-4; }
article h3 { @apply font-semibold text-2xl mt-8 mb-4; }
article h4 { @apply text-gray-500 font-medium text-xl mb-8; }
article p { @apply text-gray-700 text-lg pb-4; }
article p:last-child { @apply pb-0; }
article ul { @apply list-disc list-inside pb-4 text-lg; }
article a,
p a { @apply text-purple-600; }
article a:hover,
p a:hover { @apply text-purple-700 underline; }
article a:active,
p a:active {  @apply text-purple-800;}
article hr { @apply my-8; }
article blockquote { @apply text-lg border-l-4 border-gray-800 bg-gray-50 px-4 py-2 my-4 italic; }

/** Animations **/
@keyframes fade-in-and-translate-x {
  0% { opacity: 0; transform: translateX(1em); }
  100% { opacity: 1; transform: translateX(0); }
}

@keyframes scale-x-from-o-to-100 {
  0% { opacity: 0; transform: scaleX(0); }
  100% { opacity: 1; transform: scaleX(1); }
}

@keyframes from-bottom {
  0% { transform: translateY(1em); }
  100% { transform: translateY(0); }
}

@keyframes from-top {
  0% { transform: translateY(-1em); }
  100% { transform: translateY(0); }
}

@keyframes from-right {
  0% { transform: translateX(1em); }
  100% { transform: translateX(0); }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
