---
import ColyseusCloudSection from '../components/ColyseusCloudSection.astro';
import TitleSection from '../components/TitleSection.astro';
import MainLayout from '../layouts/MainLayout.astro';

import SimulatePriceComponent from "../components/SimulatePriceComponent";
---

<MainLayout>
  <TitleSection>
    Pricing
    <!-- p class="font-sans text-lg font-normal text-gray-500 mt-2"></p -->
  </TitleSection>

  <section class="container m-auto px-6 mb-20 animate-from-bottom-fade space-y-4">
    <div class="max-w-screen-xl mx-auto mb-20">
      <div class="flex flex-col md:flex-row justify-center space-x-0 md:space-x-8 space-y-8">

        <!-- Open Source -->
        <div class="bg-white rounded-lg shadow p-6 border my-auto">
            <h3 class="text-2xl font-semibold">Open Source</h2>
            <p class="border-b pb-2 text-purple-600 mb-4">Free</p>
            <ul class="mb-4 space-y-3">
              <!-- <li>
                <svg class="w-6 text-green-600 inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                Feature 1
              </li> -->
              <li class="flex space-x-1">
                <svg class="w-6 text-green-600 inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                <span>Self-host on your own servers</span>
              </li>
              <li class="flex space-x-1">
                <svg class="w-6 text-green-600 inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                <span>Community support</span>
              </li>
              <li class="flex space-x-1">
                <svg class="w-6 text-green-600 inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                <span>No restrictions</span>
              </li>
            </ul>
            <a class="block rounded p-3 text-center text-purple-600 transition-all border-2 border-purple-500 hover:border-purple-600 active:border-purple-700" href="https://github.com/sponsors/endel">
              Donate/Sponsor
            </a>
            <a href="/framework" class="mt-4 block group/link text-purple-500 text-center text-sm">
              Learn more
              <svg class="inline-block transition-transform ease-out relative group-hover/link:translate-x-1" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg>
            </a>
        </div>

        <!-- Open Source -->
        <div class="bg-white rounded-lg shadow-lg p-6 border-2 border-purple-600">
            <h3 class="text-2xl font-semibold">Colyseus Cloud</h2>
            <p class="border-b pb-2 text-purple-600 mb-4">Starting at $15/mo</p>
            <ul class="mb-4 space-y-3">
              <!-- <li>
                <svg class="w-6 text-green-600 inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                Feature 1
              </li> -->
              <li class="flex space-x-1">
                <svg class="w-6 text-green-600 inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                <span>Deploy on Colyseus Cloud servers</span>
              </li>
              <li class="flex space-x-1">
                <svg class="w-6 text-green-600 inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                <span>Managed SSL Certificates</span>
              </li>
              <li class="flex space-x-1">
                <svg class="w-6 text-green-600 inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                <span>No CCU/DAU/MAU limits</span>
              </li>
              <li class="flex space-x-1">
                <svg class="w-6 text-green-600 inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                <span>Unlimited bandwidth</span>
              </li>
              <li class="flex space-x-1">
                <svg class="w-6 text-green-600 inline-block" fill="currentColor" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                <span>Support by email</span>
              </li>
            </ul>
            <a class="block rounded p-3 text-center text-white transition-all bg-purple-500 hover:bg-purple-600 active:bg-purple-700" href="https://cloud.colyseus.io">Get Started</a>
            <a href="/cloud-managed-hosting" class="mt-4 block group/link text-purple-500 text-center text-sm">
              Learn more
              <svg class="inline-block transition-transform ease-out relative group-hover/link:translate-x-1" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg>
            </a>
        </div>
      </div>
    </div>

    <div class="border-t border-gray-300">
      <div class="max-w-xl mx-auto bg-gray-50 px-8 pt-12 pb-8 rounded-b-lg border-l border-r border-b  shadow">
        <SimulatePriceComponent client:only title="Simulator" />
      </div>
    </div>
  </section>

  <ColyseusCloudSection bgGray={true} />

</MainLayout>
