---
const today = new Date();
---

<footer class="bg-black pt-6 text-gray-300">
  <div class="container mx-auto px-6 flex flex-col lg:flex-row justify-center lg:space-x-8 my-10 px-10">
    <div class="mb-12">
      <div class="mb-8 flex space-x-4 items-center justify-center lg:justify-start">
        <a class="transition-opacity hover:text-gray-200 active:text-white" href="https://www.linkedin.com/company/colyseus/">
          <svg fill="currentColor" height="2em" viewBox="0 0 448 512"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
        </a>

        <a class="transition-opacity hover:text-gray-200 active:text-white" href="https://github.com/colyseus/colyseus">
          <svg fill="currentColor" height="2em" viewBox="0 0 496 512"><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg>
        </a>

        <a class="transition-opacity hover:text-gray-200 active:text-white" href="https://twitter.com/colyseus">
          <svg fill="currentColor" height="2em" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm297.1 84L257.3 234.6 379.4 396H283.8L209 298.1 123.3 396H75.8l111-126.9L69.7 116h98l67.7 89.5L313.6 116h47.5zM323.3 367.6L153.4 142.9H125.1L296.9 367.6h26.3z"/></svg>
        </a>

        <a class="transition-opacity hover:text-gray-200 active:text-white" href="https://www.youtube.com/@colyseus">
          <svg fill="currentColor" height="2em" viewBox="0 0 576 512"><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg>
        </a>

        <a class="transition-opacity hover:text-gray-200 active:text-white" href="http://chat.colyseus.io">
          <svg fill="currentColor"viewBox="0 0 16 16" aria-hidden="true" height="2em"><path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"></path></svg>
        </a>
      </div>

      <!-- <h2 class="text-center lg:text-left font-medium text-base text-gray-400 mb-2 tracking-wider">Subscribe to our newsletter</h2> -->
      <!-- <div id="mc_embed_signup"> -->
      <!--   <form action="https://gamestd.us15.list-manage.com/subscribe/post?u=4be3bcbc3d2a6bfd9c888407e&amp;id=52759ee705" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> -->
      <!--     <div id="mc_embed_signup_scroll" class="flex items-center justify-center"> -->
      <!--       <input class="p-4 rounded-l-lg outline-0 text-gray-800" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email" required> -->
      <!--       <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4be3bcbc3d2a6bfd9c888407e_52759ee705" tabindex="-1" value=""></div> -->
      <!--       <button class="p-4 rounded-r-lg text-white transition-all bg-purple-500 hover:bg-purple-700 active:bg-purple-800" type="submit" id="mc-embedded-subscribe"> -->
      <!--         <svg width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg> -->
      <!--       </button> -->
      <!--     </div> -->
      <!--   </form> -->
      <!-- </div> -->

    </div>

    <div class="grow flex flex-col gap-8 lg:gap-0 lg:flex-row  lg:space-x-24 justify-end">
      <ul class="space-y-1">
        <li class="text-gray-400 mb-2">Products</li>
        <li><a href="/cloud-managed-hosting">Colyseus Cloud</a></li>
        <li><a href="/framework">Colyseus Framework</a></li>
      </ul>

      <ul class="space-y-1">
        <li class="text-gray-400 mb-2">Company</li>
        <!-- li><a href="/about">About</a></li -->
        <li><a href="/blog">Blog</a></li>
        <li><a href="/brand">Brand</a></li>
        <li><a href="mailto:support@colyseus.io">Contact Us</a></li>
      </ul>

      <ul class="space-y-1">
        <li class="text-gray-400 mb-2">Source-code</li>
        <li><a href="https://github.com/colyseus/colyseus">Colyseus</a></li>
        <li><a href="https://github.com/colyseus/colyseus.js">JavaScript SDK</a></li>
        <li><a href="https://github.com/colyseus/colyseus-unity-sdk">Unity SDK</a></li>
        <li><a href="https://github.com/colyseus/colyseus-defold">Defold SDK</a></li>
        <li><a href="https://github.com/colyseus/colyseus-haxe">Haxe SDK</a></li>
        <li><a href="https://github.com/colyseus/colyseus-construct3">Construct3 SDK</a></li>
      </ul>

      <ul class="space-y-1">
        <li class="text-gray-400 mb-2">Resources</li>
        <li><a href="/learn">Learn</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/success-stories">Success Stories</a></li>
        <li><a href="https://github.com/colyseus/colyseus/releases">Release Announcements</a></li>
      </ul>

    </div>
  </div>

  <div class="container mx-auto px-6 flex justify-center items-center space-x-8 mt-14 border-t border-gray-800 text-gray-500 py-10">
    <!-- <div>
      <svg class="h-5 ml-4" fill="currentColor" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 134"> <g> <g> <path d="m19.8 48.5c3.4 2.8 7.5 5.5 12.5 7.9 3.7-7 17.7-24.8 57.4-19.6l-3.5-13.6c-49.3-4.2-63.5 19-66.4 25.3z"/> <path d="m11 41.3c5.5-10 24.4-30.6 71.4-26.1l-6-14.8c0 0-49.3-5.7-74.2 26.6 0.9 2.6 3.3 8.2 8.8 14.3z"/> <path  d="m100.4 71.7q-11.9 1.2-22.1 1.2c-48 0-69.2-18.8-78.3-32.3v62c0 0.1 3.9 40.2 120.4 28.5 0 0-20-59.4-20-59.4z"/> </g> </g> </svg>
    </div> -->

    <div class="grow flex space-x-12 justify-center lg:justify-end">
      <p>Copyright © {today.getFullYear()} Endel Dreyer</p>
    </div>

  </div>

</footer>
