---
interface Props {
  class?: string;
}

const props = Astro.props;
const addClass = props.class ?? "bg-gray-100 text-gray-500";
---

<section class={"text-center border-t border-b border-solid border-gray-300 " + addClass}>
  <div class="container container mx-auto px-6 relative py-14">
    <a href="https://cdn.jsdelivr.net/gh/colyseus/.github/sponsorkit/sponsors.svg"><img class="mx-auto" src="https://cdn.jsdelivr.net/gh/colyseus/.github/sponsorkit/sponsors.svg" alt="Colyseus Sponsors" /></a>

    <!-- h2 class="text-xl font-medium uppercase tracking-widest">Sponsors</h2 -->
    <!-- img class="mx-auto" src="https://colyseus.io/sponsorkit/sponsors.part1.svg" alt="Colyseus Sponsors" / -->
    <!-- img class="mx-auto -mt-8" src="https://colyseus.io/sponsorkit/sponsors.part2.svg" alt="Colyseus Sponsors" / -->
  </div>
</section>
