---
interface Props  {
  href: string;
  class?: string;
}
const href = Astro.props.href;
---
<a href={href} class={`mt-2 inline-block group transition-all font-semibold text-purple-400 hover:text-purple-300 active:text-purple-200 ${Astro.props.class || ""}`}>
  <slot />
  <svg class="inline-block transition-transform ease-out relative group-hover:translate-x-1" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg>
</a>
