main {
  padding-top: 5em;
}

#hero {
  position: relative;
  overflow: hidden;
}
#hero::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -2;
}
#hero::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./images/header-new.jpg');
  background-position: right;
  background-size: cover;
  z-index: -1;
  animation: fadeIn 4s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

h1, h2 { /*, h3, h4 */
  font-family: 'Cinzel', serif;
}

.bg-gradient-purple { background: linear-gradient(315deg, rgba(80,70,230,1) 0%, rgba(160,44,228,1) 100%); }

/* Showcase grid */
.showcase-items > a {
  background-size: cover;
  background-position: center center;
}
.showcase-items > a:hover {
  background-size: cover;
  background-position: center center;
}

/* .showcase-items > a > span { background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%); } */
.showcase-expand-list { background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); }

/** Animations **/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(1em);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
