---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import CommunityStats from '../components/CommunityStats.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
      <!-- Hero -->
      <section id="hero" class="text-gray-200">
        <div class="container mx-auto text-center py-10">
          <div>

            <div class="py-20">
              <h1 class="text-4xl font-medium">Join the Colyseus Community!</h1>
              <p class="mt-4">Exchange ideas, share knowledge, connect and learn from like-minded people within the Colyseus Community.</p>
            </div>

            <a class="p-4 text-xl font-semibold bg-blue-600 rounded transition-all hover:bg-blue-700" href="http://chat.colyseus.io" target="_blank">Join Discord</a>

            <div class="mt-8">
              <CommunityStats />
            </div>

          </div>
        </div>
      </section>

      <section class="text-slate-900 text-center border-b border-solid border-gray-300">
        <div class="container mx-auto p-16">
          <h2 class="text-2xl font-medium">Community Videos</h2>
          <p class="mt-1">Videos</p>
        </div>
      </section>

      <section class="text-slate-900">
        <div class="container mx-auto py-10">
          <h1 class="text-2xl font-medium">Another title...</h1>
          <p>Hello world...</p>
        </div>
      </section>

		</main>

		<Footer />
	</body>
</html>
