---
import ColyseusCloudSection from '../components/ColyseusCloudSection.astro';
import TitleSection from '../components/TitleSection.astro';
import MainLayout from '../layouts/MainLayout.astro';
import CommunityStats from '../components/CommunityStats.astro';
---

<MainLayout>

  <TitleSection separator={true}>Learn</TitleSection>

  <section>
    <div class="container container mx-auto relative py-14">
      <div class="flex justify-between">
        <div class="w-1/2">
          <h2 class="text-3xl font-medium">Tutorials</h2>
          <p class="mb-4 text-gray-700">Learn how to use Colyseus with your favorite game engine or framework.</p>

          <div class="flex flex-col mb-8">
            <a href="https://developer.playcanvas.com/en/tutorials/real-time-multiplayer-colyseus/">PlayCanvas</a>
            <a href="https://doc.babylonjs.com/guidedLearning/networking/Colyseus">BabylonJS</a>
            <a href="https://learn.colyseus.io/phaser/">Phaser</a>
          </div>

          <h2 class="text-3xl font-medium">How-to</h2>
          <p class="mb-4 text-gray-700">How to approach most common multiplayer use-cases.</p>

  Tutorials
  Examples
  Videos

        </div>
        <div class="w-1/2">
          <h2 class="text-3xl font-medium">Framework Overview </h2>
          <p class="mb-4 text-gray-700">Endel's talk for JS GameDev Summit 2022, organized by <a href="https://gitnation.org/" target="_blank">GitNation</a>.</p>

          <iframe class="w-full h-72" src="https://www.youtube.com/embed/KnN6nRtfL44?start=260" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </section>

  <section>
    <div class="container container mx-auto relative py-14">
      <TitleSection>Sample Projects</TitleSection>
    </div>
  </section>

  <section class="bg-gray-100 text-slate-900 text-center border-b border-solid border-gray-300">
    <div class="container container mx-auto relative py-14">
      <h2 class="text-xl font-medium text-gray-500 uppercase tracking-widest">Join our growing community</h2>
      <CommunityStats />
      <div class="flex space-x-8 justify-center">
        <a href="https://github.com/colyseus" target="_blank" class="mt-2 group transition-all text-gray-500 hover:text-gray-600 font-semibold ">
          Visit GitHub
          <svg class="inline-block transition-transform ease-out relative group-hover:translate-x-1" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg>
        </a>
        <a href="/community" class="mt-2 group transition-all text-gray-500 hover:text-gray-600 font-semibold ">
          Join Community
          <svg class="inline-block transition-transform ease-out relative group-hover:translate-x-1" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.707 7.293l-1.414 1.414L17.586 11H2v2h15.586l-2.293 2.293 1.414 1.413L21.414 12z"></path></g></svg>
        </a>
      </div>
    </div>
  </section>

</MainLayout>
