---
import ColyseusCloudSection from '../components/ColyseusCloudSection.astro';
import TitleSection from '../components/TitleSection.astro';
import Layout from '../layouts/BlogPost.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <TitleSection>Pricing</TitleSection>

  <section class="container m-auto mb-24 animate-from-bottom-fade space-y-4">
    <div>
      Hello world
    </div>
  </section>

  <ColyseusCloudSection bgGray={true} />

</MainLayout>
