---
import ColyseusCloudSection from '../components/ColyseusCloudSection.astro';
import TitleSection from '../components/TitleSection.astro';
import Layout from '../layouts/BlogPost.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
  <TitleSection>Pricing</TitleSection>

  <section class="bg-gray-100 text-gray-700 text-center border-b border-solid border-gray-300">
    <div class="container container mx-auto relative py-14">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
        viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
        adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus
        et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus
        vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
        sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
      </p>
    </div>
  </section>

  <ColyseusCloudSection />

</MainLayout>
