---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';
import TitleSection from '../../components/TitleSection.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import SponsorsSection from '../../components/SponsorsSection.astro';
import PostItem from '../../components/PostItem.astro';
import JoinCommunitySection from '../../components/JoinCommunitySection.astro';

const successStories = (await getCollection('success-stories')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<MainLayout>
  <TitleSection>
    Success Stories
    <p class="font-sans text-lg font-normal text-gray-500 mt-2">Inspirational interviews with people thriving with Colyseus</p>
  </TitleSection>

  <section class="container m-auto mb-24 animate-from-bottom-fade">
    <ul class="flex space-x-6 justify-center">
      {successStories.filter(post => post.data.published).map((post, i) => (
        <PostItem
          slug={post.slug}
          href={`/success-stories/${post.slug}/`}
          class={"animate-delay-" + i}
          {...post.data} />
      ))}
    </ul>
  </section>

  <SponsorsSection />

  <JoinCommunitySection class="bg-white" />

</MainLayout>
